/*------------------------Contacto.html------------------------------*/
.formContact{
  width: 100%;
  margin: auto;
  border: 0.12rem solid $color-primary;
  padding: 0.62rem 1.25rem;
  box-sizing: border-box;
  margin-top: 3rem;
  margin-bottom: 3rem !important;
  border-radius: 0.43rem;
  .formContact__title{
    color: $color-primary;
    text-align: center;
    margin: 0;
    font-weight:900;
    font-size: 1.8rem;
    font-family: $fontFamily-primary;
  }
  .formContact__input,.formContact__textarea{
    width: 100%;
    margin-top: 1.25rem;
    padding: 0.43rem;
    height: 2.18rem;
    box-sizing: border-box;
    font-size: 1.06rem;
    margin-top: 1.25rem;
    outline: none;
  }
  .formContact__textarea{
    min-height: 6.25rem;
    max-height: 12.5rem;
    max-width: 100%;
  }
  .formContact__button{
    background: $color-primary;
    color: #fff;
    padding: 1.25rem;
    width: 100%;
    margin-top: 1.25rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    transition:all 0.5s linear;
  }
  .formContact__button:hover{
    cursor: pointer;
    background-color: $background-hover-btn;
  }
  
}

@media (min-width:480px) {
  .formContact{
    width: 30rem;
  }
}