/*-------------------------------index.html-----------------------------*/
.mainHeader{
  @include box-size(100%,6.25rem);
  margin: 0 auto;
  background-color: $color-primary;
  /***************modification******************/
  
  position: sticky;
  top: 0;
  z-index: 999;
  /*********************************************/
  .mainContainer{
    @include box-size(95%,6.25rem);
    margin: 0 auto;
    .row--primary{
      @include flex(row,space-between ,flex-start);
      @include box-size(100%,5.62rem);
      position: relative;
      .colum{
        @include flex(row,center,center);
        padding-top: 0.5rem;
      }
      .col--primary{
        .header__title{
          font-size: 1.3rem;
          margin-left: 0.5rem;
          color: white;
          font-family: $fontFamily-primary;
          font-weight: 600;
          margin-top: 0.37rem;
        }
        .fa-bars{
          font-size: 1.4rem;
          color:whitesmoke;
          cursor: pointer;
          border: solid 0.1rem #e8a18880; 
          padding: 0.12rem 0.18rem;
        }
      }
      .col--secondary{
        position: absolute;
        top: 2.5rem;
        width: 100%;
        .form__search{
          width: 100%;
          position: relative;
          padding-top: 0;
          .form__input{
            @include box-size(100%,2.37rem);
            border-radius: 0.4rem;
            outline: none;
            border-style: none;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: 1rem;
          }
          a{
            top: 0;
            right: 0;
            position: absolute;
            @include box-size(2.37rem,2.37rem);
            border-radius: 0.4rem;
            background-color: $color-secondary;
            text-align: center;
            .fa-search{
              padding-top: 0.6rem;
              color: whitesmoke;
              font-size: 1.4rem;
              cursor: pointer;
            }
          }
        }
      }
      .col--tertiary{
        a{
          text-decoration: none;
          color: whitesmoke;
          .icon{
            /******modificando*******/
            margin-top: 0.1rem;
            font-size: 1.5rem;
            
            /******antes******
            margin-top: 0.3rem;
            font-size: 1.3rem;
            */
          }
        }
        .link__cart{
          margin-left: 1rem;
        }
      } 
      
    }
    .checkbox{
      display: none;
    }
    .checkbox:checked ~ .row--secondary{
      transform: translateX(0%);
    }
    .row--secondary{
      width: 100%;
      height: 100vh;
      @include box-size(100%,100vh);
      background-color: $color-primary;
      /*position: absolute;*/
      position: fixed;
      left: 0;
      top: 6.188rem;
      transition: all 0.5s;
      transform: translateX(-100%);
      z-index: 100;
      .nav{
        width: 100%;
        .nav__list{
          list-style: none;
          width: 100%;
          margin: 0;
          padding: 0;
          line-height: normal;
          .nav__item{
            list-style: none;
            height: 2.5rem;
            font-size: 1rem;
            border-bottom: solid 0.06rem grey;
            padding: 0.62rem;
            a{
              color: white;
              text-decoration: none;
            }  
          } 
        }
      }
    }
  }
}

/*--------------------------------Main---------------------------------*/
main{
  width: 100%;
  .main__container{
    width: 95%;
    margin: 0 auto;
    .container__carousel__aside{
      width: 95%;
      margin: 0 auto;
      margin-top: 1.25rem;
      .subContainer__carousel__aside{
        @include box-size(100%,15.62rem);
        margin: 0 auto;
        .carousel__column{
          width: 100%;
          .carousel{
            .carousel-inner{
              .carousel-item{
                position: relative;
                height: 15.62rem;
                img{
                  height: 100%;
                }
              }
            }
          }
        }
        .asideColumn{
          display: none;
        }        
      }
    }
  }
}

main .main__container .section__option{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.25rem;
  background-color:  rgb(248,239,225);
  border-radius: 0.62rem;
  .sectionOption__container{
    @include flex(row,space-evenly ,center);
    .option{
      @include flex(column,space-evenly ,center);
      line-height: 1rem;
      .option__container{
        margin-top: 0.62rem;
        @include box-size(3.75rem,3.75rem);
        border:solid 0.31rem $color-primary;
        border-radius: 50%;
        background-color: $color-secondary;
        @include flex(column,space-evenly ,center);
        a{
          .fa-money-bill-alt,.fa-truck,.fa-gift{
            font-size: 1.87rem;
            margin-top: 5%;
            color: white;
          }
        }
      }
      .option__titulo{
        margin-top: 0;
        font-family: $fontFamily-primary;
        font-weight: 600;
        padding-bottom: 0.62rem;
        width: 3.12rem;    
        font-size: 1rem;     
      }
    }        
  }
}

.item__title{
  margin-left: 4.25rem;
  font-family: $fontFamily-primary;
  font-size: 1.87rem;
  font-weight: 700;
  margin-top: 0.62rem;
  animation: item__title 5s ease;

}
@keyframes item__title {
  0%{
    opacity: 0;
    transform:translateX(-18.75rem);
  }
  100%{
    opacity: 1;
    transform:translateX(0);
  }
}


main .main__container .section__item{
  .containerItems{
    width: 100%;
    margin: 0 auto;
    
    .card{
      width: 12.5rem !important;
      /*****************modificando*************************/
      /*border: 0.1rem solid $color-primary !important;*/
      /*****************************************************/
      /*border: 0.17rem solid $color-primary !important;*/


      /********************modificando*******************/
      .image-transition{
        /*transition: box-shadow 5s linear;*/
        animation: image-transition 0.3s ease;
      
      }
      /*
      .image-transition:hover{
        transform: scale(1.02);
      }*/
      @keyframes image-transition {
          100%{
            transform: scale(2);
          }
          

      }
      
      /**************************************************/
      .card-body{
        /***********************modificando para es mejor esta parte*******************/
        text-align: center;
        position: relative;
        .oferta{
          position: absolute;
          font-size: 20px;
          font-weight: 600;
          top: -230px;
          color: white;
          /*left: 0px;*/
          width: 100px;
          height:30px; 
          background-color:#116bb9;
          /*background-color:#9fb7cd;*/
          /*background-color:#0b3961;*/
          /*background-color:*/
          /*background-color: $color-secondary;*/
          /*transform: rotateX(20deg);*/
          text-align: center;
          border-radius: 5px
        }

        /*******************************Modificando**********************************/
        .item__paragraph{
          width: 200px;
          top: 20px;
        }
        
        .item_paragraph__lineThrough{
          text-decoration: line-through;
          color: rgb(170, 170, 170);
          /*padding-left: 10px;*/
        }
        .item_paragraph__bold{
          font-weight: 600;
        } 
        
        /**************************************************************************/
        @include flex(column,center,center);
        .btn-item{
          background-color: $color-primary;
          border-style: none;
          outline: none;
        }
      }
    } 
    /***********************modificando para es mejor esta parte*******************/
    .card-transition{
      transition: box-shadow 0.3s linear;
    
    }
    .card-transition:hover{
      /*transform: scale(0.5);*/
      box-shadow: 0.10rem 0.20rem 0.20rem 0.10rem rgb(197, 195, 195);
    }
    /****************************************************/
    /*
    .card-transition{
      transition: box-shadow 1s linear;
    
    }
    .card-transition:hover{
      transform: scale(1.05);
      box-shadow: 0.12rem 0.25rem 0.62rem 0.25rem #364f85;
    }
    */
  } 
}

.separator{
  @include flex(column,center ,center);
  /*border: 2px solid black;*/
  margin-bottom:50px!important;
  text-align: center;
  /*background-color: #f3f4f8;*/
  .separator__title{
    position: relative;
    color:$color-primary !important;
    /*border-bottom: solid 2px #364f85;*/
    background-color:white;
    font-family: $fontFamily-primary;
    font-weight: 600;
    top: 1rem;
    z-index: 2;
  }
  .separator__hr {
    width:95%;
    margin: 0 auto;
    height: 0.1rem;
  }
}

/*
.item__title1{
    /*
    position: relative;
    color: red !important;
    /*border-bottom: solid 2px #364f85;*/
  /*
    background-color:white;
    top: 18px;
    z-index: 2;
  }
  /*
  .separator1 {
    width:95%;
    margin: 0 auto;
    height: 5px;
    /*color: red;
    margin-bottom: 10px!important;
  }*/


/*-----------Newsletter----------
.newsletter{
  width: 100%;
  padding-top: 10px;

  .newsLetter__container{
    width: 95%;
    margin: 0 auto;
    background-color: rgba(38,66,125,50);
    @include flex(row,center,center);
    /*
    .container__info{
      display: none;
    }
    .formNewsletter__container{
      /*
      border-left: thick solid rgba(38,66,125,50);
      color: rgba(38,66,125,50);
      padding: 50px;

      .formNewsletter__input{
        
      }
      .formNewsletter__button{}
      
    }
  }
}*/







/*----------------------------footer--------------------------*/
.container__footer{
  width: 100%;
  background-color: rgb(2, 17, 68);
  margin-top: 1rem;

  .footerRow__primary{
    @include box-size(95%,6rem);
    margin: 0 auto;
    padding-top: 1.25rem;
    text-align: center;
    .footer__paragraph{
      display: none;
    }
    .newsletter{
      .formNewsletter__title{ 
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.625rem !important; 
        /*margin-bottom: 10px !important;*/
      }
      
      .formNewsletter{
        width: 100%;
        margin:0 auto;
        @include flex(row,center,center); 
        position: relative; 
        .formNewsletter__input{     
          width: 100%;
          padding: 0.43rem;
          font-size: 1.06rem;
          box-sizing: border-box;
          outline: none;
          border: none;
          border-radius:0.313rem;
          /*border-radius: 5px;*/
        }
        .formNewsletter__button{  
          position: absolute;
          top: 0.25rem;
          /*top: 4px;*/
          right: 0.313rem;
          /*right: 5px;*/
          background-color: $color-secondary;
          color: white;
          width: 6.25rem;
          /*width: 100px;*/
          height:1.938rem;
          /*height: 31px;*/
          border: none;
          border-radius:0.313rem;
          /*border-radius: 5px;*/
        }
      }  
    }
  }
  .footerRow__secondary{
    margin-top: 1rem;
    position: relative;
    .footerRow__secondary__container{
      @include flex(column,center ,center);
      gap: 1rem;
      .footerCol{
        @include flex(column,center,center); 
        .footer__title{
          /*color: $color-footerText;*/
          color: gainsboro;
          font-weight: 600;
          font-size: 0.9rem;
        }
        .footerCol__list{
          list-style: none;
          padding: 0;
          .footerCol__item{
            .footer__link{
              color: gainsboro;
              font-size: 0.8rem;         
              text-decoration: none;    
            }
          }
        }
        .footerCol__listRedesSociales{
          list-style: none;
          padding: 0;
          @include flex(row,center,center);
          gap:0.2rem;
          .footerCol__item{
            .footer__link{
              color: gainsboro;
              font-size: 0.8rem;
              text-decoration: none;   
            }
          }
        }
      }
      .footerCol--secondary{
        position: absolute;
        top: 10rem;
      }
    }
    /*---------------------------Modificando mejor------------------------------*/
    .footer__hr{
      width: 80%;
      margin: 0 auto;
      height: 0.01rem !important;
      margin-top: 4rem;
      border: solid 0.01rem rgb(156, 143, 143)!important;
    }
    /*-------------------------------------------------------------------------*/
    /*
    hr{
      width: 80%;
      margin: 0 auto;
      height: 0.01rem !important;
      margin-top: 3.5rem;
      border: solid 0.01rem rgb(156, 143, 143)!important;
    }*/
    .copyright{
      text-align: center;
      font-size: 0.7rem;
      margin-top: 1.3rem;
      color:gainsboro;
      padding-bottom: 0.5rem!important;
    }
  }
}

/*---------------------------Media queries index.html---------------------------------*/

@media only screen and (min-width: 576px) {
  .mainHeader .mainContainer .row--primary .col--secondary{
    top: 2.5rem;
    width: 50%;
    margin-left:25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 768px) {
  /*------header------*/
  .mainHeader{
    height: 7rem;
    .mainContainer{
      @include box-size(90%,4.06rem);
      margin: 0 auto;
      @include flex(column,center,center);
      .row--primary{
        @include flex(row,space-between,center);
        margin-top: 2.5rem;
        .col--primary{
          /*************************modificando mejor*************/
          .icon-menu{
            display: none;
          }
          .header__title{
            font-size: 1.62rem;
            margin-left: 0;
            /*border: 2px solid black;*/
          }    

          /********************antes******************************/
          /*
          .icon-menu{
            display: none;
          }
          .header__title{
            font-size: 1.62rem;
            margin-left: 0;
          }    
          */    
        }
        .col--secondary{
          position: relative;
          width: 45%;
          top: 5px;
          top: 0.31rem;
          margin-left: 0;
          margin-right: 0;
          .form__input{
            height: 2.18rem;
            font-size: 0.9rem;
            .col--secondary a{
              @include box-size(3.12rem,2.18rem);
              .fa-search{
                padding-top: 0.4rem;
                font-size: 1.5rem;
              }
            }
          
          }
        }
          /************modificando agregando para ver como se queda *************************/
          .col--tertiary{
            /*border:2px solid black;*/
            margin-top: 15px;
            padding: 0;
            .link__cart{
              /*display: none;*/
              margin-left: 30px;
            }
          }
      }
      .row--secondary{
        transform: translateX(0%);
        @include box-size(100%,3.12rem);
        position: relative;
        top: 0.62rem;
        .nav{
          width: 100%;
          .nav__list{
            @include flex(row,center,center);
            position: relative;
            @include box-size(100%,3.12rem);
            line-height: normal;
            .nav__item{
              list-style: none;
              border: none;
              height: 2.5rem;
              font-size: 1rem;
              /*-----------------------------------------para poner en el breakpoint 768px---------------------------------*/
              a:hover{
                color: rgba(255, 255, 255, 0.85)
              }   
            /*--------------------------------------------------------------------------------------------------------*/
            }
            /*-----------------------------------------para poner en el breakpoint 768px---------------------------------*/
            .nav__item:hover{
              border-bottom: solid 0.18rem rgb(25, 25, 117);
            }   
            /*--------------------------------------------------------------------------------------------------------*/
            /*
            .nav__item:hover .nav__subList{
              display: block;
              position: absolute;
              top: 2.5rem;
              @include box-size(8.87rem,2.5rem);
              list-style: none;
              .nav__subItem{
                margin-bottom: 1.87rem;
                .nav__link:hover{
                  color: white;
                  text-decoration: none;
                  display: block;
                }
              }
            }
            */
          }         
        }
      }
    }
  }
  /*---------main-------*/
  main{
    .main__container{
      width: 95%;
      .container__carousel__aside{
        .subContainer__carousel__aside{
          @include box-size(100%,23.12rem);
          .carousel__column{
            .carousel{
              .carousel-inner{
                .carousel-item{
                  height: 23.12rem;
                }
              }
            }
          }
        }
      }  
    }
  }
  main .main__container .section__option .sectionOption__container .option{
    .option__container {
      @include box-size(5.62rem,5.62rem);
      a{
        .fa-money-bill-alt,.fa-truck,.fa-gift{
          font-size: 2.81rem;
        }
      }
    }
    .option__titulo{
      width: 12.5rem;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }  
  main .main__container .section__item{
    .containerItems{
      .card{
        width: 17rem !important;
      }
    } 
  } 
  /*---------------footer---------------*/

  footer .container__footer{
    .footerRow__primary{
      .newsletter{
        width: 50%;
        margin: 0 auto;
      }
    }
    .footerRow__secondary{
      .footerRow__secondary__container{
        padding-top:0.6rem;   
        @include flex(row,space-between,center);
        width: 80%;
        margin: 0 auto;
        .footerCol--secondary{
          position: relative;
          top: 2rem;
        }
      }
      hr{
        margin-top:2rem !important;
      }
    }  
  }
}

@media only screen and (min-width: 1200px) {

  /*-----------Header-----------*/
  .col--tertiary{
        a{
          text-decoration: none;
          color: whitesmoke;
          .icon{
            margin-top: 0.3rem;
            font-size: 1.3rem;
          }
        }
        .link__cart{
          margin-left: 1rem;
        }
      } 

  /*------carousel y aside-------*/
  main .main__container .container__carousel__aside .subContainer__carousel__aside{
    @include flex(row,center,center);
    gap:1.56rem;
    .asideColumn{
      display: block;
      @include box-size(40%,23.12rem);
      @include flex(column,space-between,center);
      .asideColumn__Row{
        @include box-size(100%,47%);
        img{
          position: relative;
          @include box-size(100%,100%);
        }
      }
    } 
  }
  main .main__container .section__item{
    .containerItems{
      .card{
        width: 16rem !important;
      }
    } 
  }
  
}