/*-----------------------------------micuenta.html------------------------------*/
.containerContact{
  width: 98%;
  margin: 0 auto;
  .sign-up-form{
    width: 95%;
    background: #fff;
    margin: 8% auto 0;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 3rem;
    h2{
      color: $color-primary;
      font-weight:900;
      font-size: 1.8rem;
      font-family: $fontFamily-primary;
      margin-top: 1rem;
    }
    .form__contact{
      width: 95%;
      margin: 0 auto;
      margin-top: 1.87rem; 
      .input__box{     
        border-radius: 0.5rem;
        padding: 0.62rem;
        margin: 0.62rem 0;
        width: 100%;
        border: 0.06rem solid #999;
        outline: none;
        box-sizing: border-box;
        font-size: 1rem;
      }
      .input__box--password{
        margin-top: 1.5rem;
      }
      .form__paragraphCheckbox{
        margin-top: 2rem;
        font-size: 1.15rem;
        .form__checkbox{
          width: 1rem;
          height: 1rem;
        }
      }      
      .signup-btn{
        color: #fff;
        width: 100%;
        padding: 0.62rem;
        border-radius: 1.25rem;
        font-size: 0.93rem;
        margin: 0.62rem 0;   
        border:none;
        outline: none;
        cursor: pointer;
        background-color: $color-primary;
        margin-top: 2rem; 
        transition:all 0.5s linear;
      }
      .signup-btn:hover{
        cursor: pointer;
        background-color: $background-hover-btn;
      }
      .form__question{
        padding-bottom: 1.25rem;
        margin-top: 1.25rem;
        font-size: 1.1rem;
        .formContact__link{
          text-decoration: none;
          color:$color-primary;
          font-weight: 600;
        }   
      }   
    }    
  }
}

@media (min-width:480px) {
  .containerContact .sign-up-form{
      width: 30rem;
    }
}